name: Staging Deployment
concurrency: deploy-to-dev

on:
  workflow_dispatch:
    inputs:
      release:
        description: Release
        required: true

env:
  CLUSTER_NAME: 'titans-cluster'
  DOCKER_BUILDKIT: 1
  ENVIRONMENT: dev
  GCLOUD_VERSION: '349.0.0'
  GCP_PROJECT: 'playground-369107'
  IMAGE_URL:  europe-west1-docker.pkg.dev/playground-369107/ops/hack
  REGION: europe-west1
  RELEASE: ${{ inputs.release }}

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: 'actions/checkout@v3'
        with:
          fetch-depth: 1

      - name: 'auth'
        uses: google-github-actions/auth@v1
        with:
          project_id: ${{ env.GCP_PROJECT }}
          credentials_json: '${{ secrets.GCP_CREDENTIALS }}'

      - name: Authenticate docker
        run: gcloud auth configure-docker europe-west1-docker.pkg.dev

      - name: Build and push
        run: make docker-build-and-push

  deploy:
    needs: build
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: 'actions/checkout@v3'
        with:
          fetch-depth: 1

      - name: 'auth'
        uses: google-github-actions/auth@v1
        with:
          project_id: ${{ env.GCP_PROJECT }}
          credentials_json: '${{ secrets.GCP_CREDENTIALS }}'

      - name: Create env.KUBECONFIG
        uses: 'google-github-actions/get-gke-credentials@v1'
        with:
          cluster_name: ${{ env.CLUSTER_NAME }}
          project_id: ${{ env.GCP_PROJECT }}
          location: ${{ env.REGION }}
          use_internal_ip: true

      - name: Apply manifests
        run: make deploy